@font-face {
    font-family:"Supernormal Regular";
    src:url("fonts/Supernormal-Regular-4.woff2") format("woff2"),url("fonts/Supernormal-Regular-4.woff") format("woff"),url("fonts/Supernormal-Regular-4.otf") format("opentype");
    font-style:normal;font-weight:400;
}

:root {
    --c-black: #000;
    --c-white: #fff;
    --c-info: #A6A6A6;
    --c-link: #2E76F6;
    --c-link-visited: #2156B7;
    --c-line: 1px solid #A6A6A6;
}

    html { box-sizing: border-box }
    *, *:before, *:after { box-sizing: inherit }
    html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li { margin: 0; padding: 0 }

    html {
        font-family: "Supernormal Regular", Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
    }

    body {
        padding-bottom: : 3rem;
        background-color: var(--c-white);
    }

    h1 {
        margin-bottom: 4rem;
        font-size: 2rem;
        font-weight: normal;
    }

    h2 {
        font-size: 1rem;
        line-height: 1.4rem;
        font-weight: normal;
    }

    .space {
        padding-bottom: 1rem;
    }

    .info {
        color: var(--c-info);
      }

    .line {
        padding-bottom: 0.5rem;
        margin: 0rem 2rem 0rem 2rem;
        border-bottom: var(--c-line);
      }

    .singleimage {
        margin-left: auto;
        margin-right: auto;
      }


    p {
        font-size: 0.8rem;
        line-height: 1.1rem;
    }

    a {
        font-size: inherit;
        color: var(--c-link);
        text-decoration: none;
    }

  /* a:visited {
        color: var(--c-link-visited);
    } */

    a:hover {
        color: var(--c-link);
        text-decoration: underline;
    }




.column {
  float: left;
}

.left {
  width: 50%;
  padding-right: 2rem;
}

.right {
  width: 50%;
  padding-left: 2rem

}

.border {
  border: 0.5px solid black;
}


.row {
  padding-bottom: 3rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.first-child {
    cursor: pointer;
    border-top: 1px solid var(--c-black);
}

    .header {
        padding: 2rem;
        padding-bottom: 0rem;
    }

    .entry-list {
        padding: 0 2rem;
    }

    .space-up {
        padding: 2rem;
    }

    .slider {
      margin: auto;
      position: relative;
      margin-top: 2rem;
      margin-bottom: 6rem;
      max-height: 50rem;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      height: auto;
      max-height: 50rem;
      width: auto;
      max-width: 100%;
    }

    video {
      margin-left: auto;
      margin-right: auto;
      height: auto;
      width: 100%;
    }

    button {
      background-color: transparent;
      border: none;
      padding: 0rem;
      font-size: 2rem;
}

    .arrow {
      top: 50%;
      font-size: 2rem;
      color: white;
      position: absolute;
      mix-blend-mode: difference;
    }


    .arrow:hover {
      text-decoration: none;
    }

    .arrow-right {
      right: 0;
      margin-right: 1rem;
      padding-left: 50%;
    }

    .arrow-left {
      margin-left: 1rem;
      padding-right: 50%;
   }


   .end {
     color: var(--c-info);
     text-align: center;
     padding-top: 3rem;
     padding-bottom: 3rem;

  }






    @media screen and (max-width: 600px) {
      h1 {
          margin-bottom: 3rem;
      }

      .space-big {
            padding-bottom: 4rem;
        }

      .column {
        width: 100%;
        padding: 0;
      }

      .header {
        padding: 2rem 1rem;
      }

      .slider {
        margin-top: 1rem;
        margin-bottom: 3rem;
        max-height: 20rem;
      }

      .profile {
        max-width: 100%;
        max-height: none;
        padding-bottom: 3rem
      }

      .arrow {
        top: 45%;
      }

      .arrow-right {
        margin-right: 0.5rem;
        padding-left: 20%;
      }

      .arrow-left {
        margin-left: 0.5rem;
        padding-right: 20%;
      }

      img {
        max-height: 20rem;
      }

      .line {
          margin: 0rem 1rem 0rem 1rem;
        }


  }
