
@font-face {
    font-family:"Supernormal Regular";
    src:url("Supernormal-Regular-4.woff2") format("woff2"),url("Supernormal-Regular-4.woff") format("woff"),url("Supernormal-Regular-4.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        